.sub-visual {
  margin-top: 100px;
  height: 40rem;
  background: url(../img/sub-visual-facility.jpg) no-repeat 0 0 / cover;
  position: relative;
}
.sub-visual.introduce {
  background: url(../img/introduce-visual.png) no-repeat 50% / cover;
}
.sub-visual.reserve {
  background: url(../img/reservation-visual.jpg) no-repeat 50% / cover;
}
.sub-visual.notice {
  background: url(../img/notice-visual.jpg) no-repeat 50% / cover;
}

.sub-visual::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.sub-visual .sub-title h2 {
  color: var(--white);
  font-weight: 700;
  font-size: 5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breadcrumb ul li .home-icon {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../img/home.svg) no-repeat 50% / contain;
  margin-bottom: 5px;
}

.breadcrumb ul {
  display: flex;
  gap: 2.2rem;
  gap: 1.145833333333333vw;
  align-items: center;
  padding-top: 9rem;
  padding-top: 5.9445%;
  /* 90/1514*100 */
  /* background-color: #eee; */
  font-size: 2rem;
}

.breadcrumb ul li + li:before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 2.2rem;
  margin-right: 1.145833333333333vw;
  /* 22/1920*100 */
  background: url(../img/arrow.svg) no-repeat 50% / contain;
}

.breadcrumb ul li a:hover {
  text-decoration: underline;
}

/* s: facility */
.facility-wrap {
  padding: 16.8rem 0 26.5rem 0;
  padding: 8.75% 0 13.80208333333333% 0;
  /* 265/1920*100 */
  /* background: lightgray; */
}

/* .facility-wrap  */
.sec-title {
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.tab-menu {
  /* background: lightblue; */
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-top: 6.605%;
  /* 100/1514*100 */
}
.tab-menu a {
  padding: 2.5rem 10rem;
  padding: 1.651254953764861% 6.605019815059445%;
  /* 100/1514*100 */
  border: 1px solid var(--bd);
  background: var(--white);
  font-size: 2.3rem;
  margin-left: -1px;
}
.tab-menu a.active {
  background: var(--main-color);
  color: var(--white);
}

.tab-menu a:not(.active):hover {
  background: rgba(52, 64, 202, 0.2);
  color: var(--main-color-dark);
}

.tab-menu a:first-child {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}
.tab-menu a:last-child {
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.tab-content {
  /* background: lightblue; */
  display: flex;
  margin-top: 13rem;
  margin-top: 8.5865%;
  margin-top: 9.5865%;
  justify-content: center;
  /* 130/1514*100 */
}
/* .tab-content .pic {
  width: 74rem;
  width: 48.87714663143989%;
} */
/* 740/1514*100 */
/* height: 56.6rem; */
/* .tab-content .pic figure {
  width: 100%;
  aspect-ratio: 1/0.7648648648648649;
} */
/* 566/740 */
/* .tab-content .pic figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* .tab-content .pic div {
  display: flex;
  overflow: hidden;
  margin-top: 2rem;
} */
.tab-content .pic div span {
  /* display: inline-block; */
  width: 20rem;
  width: 27.02702702702703%;
  /* 200/740*100 */
  flex-shrink: 0;
  margin-right: 2.8rem;
  margin-right: 3.7838%;
  /* 28/740*100 */
}
.tab-content .pic div span img {
  border-radius: 0.5rem;
}

.tab-content .content {
  /* margin-left: 11.8rem; */
  /* background: lightcoral; */
  padding: 6.3rem 0 4rem 11.8rem;
  padding: 4.1612% 0 2.642007926023778% 7.793923381770145%;
  /* 118/1514*100 */
  /* width: 50rem; */
}
.tab-content .content h4 {
  font-weight: 600;
  font-size: 3.5rem;
}
.tab-content .content .equipment {
  margin-top: 1rem;
}
.badge-category {
  background: var(--main-color);
  /* width: 8rem; */
  max-height: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: var(--white);
  border-radius: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  margin-top: 9rem;
  margin-top: 19.86754966887417%;
  /* 90/453*100 */
}

.equipment ul li dl dt {
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  padding-left: 1.5rem;
  margin-top: 1.8rem;
}

.equipment ul li dl dt::before {
  content: ''; /* 가상 요소를 사용하여 점 생성 */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px; /* 점의 크기 조정 */
  height: 5px; /* 점의 크기 조정 */
  background-color: var(--main-color);
  border-radius: 50%; /* 원 모양의 점을 만들기 위해 반지름 설정 */
}
.equipment ul li dl dd {
  color: #666;
  font-size: 2rem;
  margin-left: 1.7rem;
  margin-top: 0.3rem;
}

.feature ul {
  font-size: 2.5rem;
  margin-top: 2.4rem;
}

.feature ul li {
  position: relative; /* 각 항목에 점을 위치시키기 위해 상대 위치 지정 */
  padding-left: 1.5rem; /* 점과 텍스트 사이 간격 조정 */
  margin-bottom: 5px;
}

.feature ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: var(--main-color);
  border-radius: 50%;
}
/* e: pc facility */

/* s: pc 천문대 소개 */
.meaning {
  /* background: lightblue; */
  padding: 12.5rem 0 14.270833% 0;
  /* padding: 6.5104% 0 27.4rem 0; */
  /* 274/1920*100 */
  text-align: center;
}
.meaning h3 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 10rem;
  margin-bottom: 6.605%;
  /* 100/1514*100 */
}
/* .meaning figure img {
   width: 65.3rem; 
   width: 43.1308%; 

} */
.meaning p {
  font-size: 2.5rem;
  width: 57rem;
  width: 37.6486%;
  /* 570/1514*100 */
  display: inline-block;
  margin-top: 9rem;
  margin-top: 5.9445%;
  /* 90/1514*100 */
}

.speciality h3 {
  font-weight: 500;
  font-size: 4.6rem;
  text-align: center;
}
.speciality article {
  display: flex;
  justify-content: space-between;
  margin-top: 18rem;
  margin-top: 11.889%;
  /* 180/1514*100 */
}
.speciality h3 + article {
  /* h3의 가장 가까운 형제article */
  margin-top: 11.4rem;
  margin-top: 7.5297%;
  /* 114/1514*100 */
}
.speciality h3 + article + article {
  flex-direction: row-reverse; /* fxdrr 행의 반대.. 전환*/
}
.speciality article .pic {
  width: 68rem;
  width: 44.9141%;
}

.speciality article .pic figure img {
  width: 100%;
  height: 100%;
}
.speciality article .con {
  width: 74.2rem;
  width: 49.0092%;
  /* 742/1514*100 */
  /* background: #5f5; */
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.speciality article .con h4 {
  font-weight: 600;
  font-size: 3rem;
}
.speciality article .con p {
  font-size: 2.5rem;
  margin-top: 3.2rem;
}

.state {
  /* background: lightgreen; */
  padding: 38.4rem 0 32rem 0;
  padding: 27.5% 0;
  /* 384/1024*100 */
}
.state figure {
  margin-top: 6.7rem;
  width: 100%;
}
.state figure img {
  width: 100%;
}

.key-info-list {
  display: flex;
  justify-content: space-between;
  margin-top: 7.5rem;
  flex-wrap: wrap;
  gap: 1.8rem;
}
.key-info-list li {
  /* width: 33.333%; */

  width: 35.3rem;
  flex: 1 0 35.3rem;
  /* flex: 0 0 23.31571994715984%; */
  /* 353/1514*100 */
  /* aspect-ratio: 1/0.7818696883852691; */
  /* 276/353 */
  display: flex;
  /* border: 1px solid var(--bd-bright); */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 4rem 5.4rem;
  gap: 2.7rem;
  position: relative;
  flex-direction: column;
  background: var(--white);
  align-items: center;
  text-align: center;
}

.key-info-list li::before {
  content: '';
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background: no-repeat 50% / contain;
}
.key-info-list li:nth-child(1)::before {
  background-image: url(../img/state1.png);
}
.key-info-list li:nth-child(2)::before {
  background-image: url(../img/state2.png);
}
.key-info-list li:nth-child(3)::before {
  background-image: url(../img/state3.png);
}
.key-info-list li:nth-child(4)::before {
  background-image: url(../img/state4.png);
}

.key-info-list li dl dt {
  font-weight: 600;
  font-size: 3rem;
}
.key-info-list li dl dd {
  font-size: 2rem;
  margin-top: 1rem;
}
.bottom-slider .swiper-slide {
  width: 300px;
}

.slider-wrap .bottom .swiper-slide.swiper-slide-active {
  border: 5px solid #ffd600;
  border-radius: 5px;
}
.slider-wrap .bottom .swiper-slide.swiper-slide-active img {
  border-radius: 0;
}
.slider-wrap .swiper-slide img {
  border-radius: 5px;
}
/* e: pc 천문대 소개 */

/* s 예약 */
/* 예약 */
.reservation {
  margin-top: 24.5rem;
  margin-top: 10%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.reservation .container {
  width: 100%;
  text-align: center;
}

/* ---------- CALENDAR ---------- */

/* .calendar {
  text-align: center;
} */

.calendar .cal-mon {
  width: 60%;
  position: relative;
  margin: 0 auto;
}

.calendar h2 {
  font-size: 5rem;
  font-weight: 700;
}

.note {
  margin-bottom: 5%;
  margin-top: 3%;
  font-size: 2.5rem;
}
.note b {
  color: #f00;
  font-weight: 600;
}
.note.choose {
  display: none;
  margin-bottom: 7%;
  font-weight: 600;
}

.calendar thead {
  font-weight: 600;
  text-transform: uppercase;
}

.calendar tbody {
  color: #7c8a95;
}

.calendar tr {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.calendar .day td {
  height: 5rem;
  border: none;
  text-align: center;
  font-size: 2rem;
}

.calendar td {
  border: 2px solid transparent;
  display: inline-block;
  width: 17rem;
  height: 14rem;
  padding: 1.5rem;
  width: 11%;
  text-align: left;
  border-radius: 25px;
  position: relative;
}

.calendar .prev-month,
.calendar .next-month {
  color: #cbd1d2;
  border: 1px solid #7d7d7d;
  border: 1px solid #cbd1d2;
}

.able {
  background: var(--main-color);
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}
.able:hover {
  background: var(--main-color-dark);
}

.able:hover .hover-text {
  display: block;
}

.hover-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.4s;
}

.close {
  position: relative;
  background: #ebecfa;
}

.calendar td.holi {
  background: #ededed;
  border: none;
  position: relative;
}

.calendar td.holi::after {
  content: '휴관일';
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  font-weight: bold;
}

.able.current-day:after {
  background: #f9f9f9;
}

.btn-prev,
.btn-next {
  border: 2px solid #cbd1d2;
  border-radius: 50%;
  /* color: #cbd1d2; */

  /* font-size: 0.75em; */
  /* line-height: 2em;
  margin: -1em; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
}

/* .btn-prev:hover,
.btn-next:hover {
  background-color: rgba(52, 64, 202, 0.2);

  color: white;
} */

.btn-prev {
  left: 0;
  background: url(../img/prev-black.svg) no-repeat 50% / contain;
}

.btn-next {
  right: 0;
  background: url(../img/next-black.svg) no-repeat 50% / contain;
}

/* .reservation .cal-state {
  margin-top: 10rem;
  margin-bottom: 60rem;
  display: flex;
  margin-left: 10%;
} */
.reservation .cal-state {
  margin-top: 10rem;
  margin-top: 6%;
  margin-bottom: 30%;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.cal-state li {
  position: relative;
  padding-left: 3rem;
  list-style: none;
  font-size: 2.5rem;
  font-weight: 600;
}

.cal-state li::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.state-available::before {
  background-color: var(--main-color);
}

.state-closed::before {
  background-color: #ebecfa;
}

.state-holiday::before {
  background-color: #ededed;
}

/* e 예약 */

@media (max-width: 1514px) {
  /* s: facility */
  .tab-content {
    flex-direction: column-reverse;
    /* background: lightblue; */
  }
  .tab-content .content {
    padding: 0;
  }

  .badge-category {
    margin-top: 12.8675%;
    margin-top: 7.8675%;
  }
  .equipment ul li dl dt {
    font-size: 2.3rem;
  }
  .equipment ul li dl dd {
    font-size: 1.8rem;
  }
  .feature ul {
    font-size: 2.3rem;
  }
  .tab-content .pic {
    margin-top: 17.4rem;
    margin-top: 23.5135%;
    margin: 23.5135% auto 0;
    /* width: 100%; */
  }
  /* 174/740*100 */
  /* .tab-content .pic figure {
    width: 74rem;
    width: 67.64168190127971%;
    aspect-ratio: 1 / 0.7648648648648649;
    margin: 0 auto;
  } */
  /* .tab-content .pic div {
    width: 74rem;
    width: 67.64168190127971%;
    margin: 2rem auto 0 auto;
  } */
  /* 740/1094*100 */
  /* e: facility */
}

@media (max-width: 1220px) {
  /* s: facility */
  .tab-menu a {
    font-size: 2rem;
  }
  /* e: facility */

  .board_list .title {
    font-size: 1.5rem;
  }
  .board_list .date {
    font-size: 1.4rem !important;
  }
  .board_list .count {
    font-size: 1.4rem !important;
  }
  .badge-category {
    font-size: 1.5rem !important;
    padding: 0.3rem 1.5rem !important;
    height: 2.8rem;
  }
}

@media (max-width: 1160px) {
  /* s: facility */
  .tab-menu a {
    padding: 2rem 5.8rem;
    padding: 2.702702702702703% 7.837837837837838%;
    /* 58/740*100 */
    font-size: 1.6rem;
  }
  /* e: facility */
}

/* 태블릿 */
@media (max-width: 1024px) {
  /* s: facility */
  .sub-visual .sub-title h2 {
    font-size: 4.5rem;
    text-align: center;
  }
  .breadcrumb ul {
    font-size: 1.5rem;
  }
  .breadcrumb ul li .home-icon {
    width: 2rem;
    height: 2rem;
  }
  .breadcrumb ul li + li:before {
    width: 1.5rem;
    height: 1.5rem;
  }
  .facility-wrap .sec-title {
    font-size: 3rem;
  }
  .tab-content .content h4 {
    font-size: 3.2rem;
  }
  .tab-menu a {
    padding: 2rem 5.8rem;
    padding: 2.702702702702703% 6.837837837837838%;
    /* 58/740*100 */
    font-size: 1.6rem;
  }
  .tab-content {
    flex-direction: column-reverse;
  }
  .tab-content .content {
    padding: 0;
  }
  .tab-content .pic {
    margin-top: 17.4rem;
    margin-top: 23.5135%;
    /* 174/740*100 */
    width: 100% !important;
  }
  .equipment ul li dl dt {
    font-size: 2.3rem;
  }
  .equipment ul li dl dd {
    font-size: 1.8rem;
  }
  .feature ul {
    font-size: 2.3rem;
  }
  /* e: facility */

  /* s: 천문대 소개 */
  .meaning h3 {
    font-size: 3rem;
  }
  .meaning figure img {
    width: 50rem;
  }
  .meaning p {
    font-size: 1.5rem;
    width: 46.6486%;
  }
  .speciality h3 {
    font-size: 3rem;
  }
  .speciality article .con h4 {
    font-size: 2rem;
  }
  .speciality article .con p {
    font-size: 1.5rem;
    margin-top: 1.7rem;
  }
  .sec-title {
    font-size: 3rem;
  }
  .key-info-list {
    flex-wrap: wrap;
    /* row-gap: 4rem; */
    margin-top: 6rem;
    /* justify-content: center; */
  }
  .key-info-list li dl dt {
    font-size: 2.5rem;
  }
  .key-info-list li dl dd {
    font-size: 1.5rem;
  }

  /* e: 천문대 소개 */
  /* 공지 */
  .select-box {
    width: 30% !important;
  }
  .input-container {
    width: 70% !important;
  }
  /* 공지 */
  /* 예약 t */
  .note {
    font-size: 2rem;
  }
  .calendar h2 {
    font-size: 4rem;
  }
  .cal-state li {
    position: relative;
    padding-left: 2.5rem;
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
  }

  .cal-state li::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .hover-text {
    font-size: 1.5rem;
  }
  .calendar td {
    padding: 1.5rem;
    /* width: 10%; */
    padding: 10px 0;
    height: 10rem;
    /* width: 8rem;
    height: 8rem; */
    text-align: center;
    /* width: 4em; */
    /* border: 1px solid #000; */
  }
  /* 예약 t */
}

@media (max-width: 960px) {
  .bottom-slider .swiper-slide {
    width: 37%;
  }
}

@media (max-width: 840px) {
  /* s: facility */
  .facility-wrap {
    padding-top: 15.75%;
  }
  .tab-menu {
    flex-wrap: wrap;
  }
  .tab-menu a {
    width: 50%;

    padding: 1.8rem 0;
    padding: 2rem 0;
    text-align: center;
    font-size: 1.8rem;
  }
  .tab-menu a:nth-child(1) {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 0;
  }
  .tab-menu a:nth-child(2) {
    border-top-right-radius: 4rem;
  }
  .tab-menu a:nth-child(3) {
    border-bottom-left-radius: 4rem;
    margin-top: -1px;
  }
  .tab-menu a:nth-child(4) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 4rem;
    margin-top: -1px;
  }
  /* e: facility */

  .board_wrap .badge-category.normal {
    color: #000;
    border: 1px solid var(--bd);
  }
  .board_list > div > div {
    text-align: left;
    padding: 6px 0 !important;
  }
  .board_list > div {
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
    padding: 10px;
  }
  .board_list .num {
    width: 80px;

    order: 1;
    flex-basis: 100%;
    text-align: left;
  }
  .board_list .title {
    width: 70%;
    height: 30px;
    overflow: hidden;
    order: 2;
    /* font-size: 1.5rem; */
    padding-left: 0;
  }
  .board_list .date {
    width: 30% !important;
    order: 3;
    /* font-size: 1.3rem; */
    text-align: right;
  }
  .board_list .count {
    display: none;
  }
  .badge-category {
    font-size: 1.5rem !important;

    padding: 0.5rem 1.5rem !important;
  }

  .board_page {
    gap: 15px !important;
  }
  .page-btn-wrap {
    gap: 15px !important;
  }
  .board_page a.num {
    /* flex-shrink: 0; */
    width: 40px !important;
    height: 40px !important;
  }
  /* dddddddd */
  /* 예약 m */
  .btn-prev,
  .btn-next {
    width: 3.5rem;
    height: 3.5rem;
  }
  .note.choose {
    display: block;
  }
  .calendar td.holi::after {
    display: none;
  }
  .hover-text {
    display: none !important;
  }
  .calendar td {
    /* padding: 1.5rem; */
    padding: 0;
    width: 6rem;

    height: 6rem;
    /* width: 8rem;
        height: 8rem; */
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .calendar td.holi {
    color: #f00;
  }
  /* 예약 m */
}

/* 공지사항 */
.board .container {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
  margin-top: 10rem;
}

.select-box {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #7d7d7d;

  outline: none;
  height: 6rem;
  width: 12rem;
  width: 10%;
}
/* custom selbox */
.custom-select-wrapper {
  position: relative;
  width: 200px;
}

.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #7d7d7d;
  border-radius: 50px;
  cursor: pointer;
  background-color: #fff;
  height: 6rem;
}
.arrow-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
/* .custom-select::after {
  content: '▼';

  position: absolute;
  right: 20px;
  pointer-events: none;
} */

.custom-options {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #7d7d7d;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  animation: slideDown 0.3s forwards ease-out;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.custom-option {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.custom-option:hover {
  background-color: #f0f0f0;
  background-color: rgba(52, 64, 202, 0.1);
  border-radius: 0;
}

/* e custom selbox */

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
}

.input-box {
  padding: 10px 40px 10px 20px;
  border-radius: 50px;
  border: 1px solid #7d7d7d;
  outline: none;
  height: 6rem;
  width: 100%;
}

.search-btn {
  position: absolute;
  right: 0px;
  width: 60px;
  height: 60px;
  border: none;
  /* border-radius: 50%; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-btn i {
  display: block;
  color: white;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background: url(../img/search.svg) no-repeat 50% 50% / contain;
}

/* 목록 */
.board_wrap {
  /* width: 1000px; */
  margin: 70px auto;
}
.board_wrap .badge-category {
  margin-top: 0;
  max-width: 8rem;
}
.board_wrap .badge-category.event {
  color: var(--main-color);
  background: #fff;
  border: 2px solid var(--main-color);
  padding: 1rem 1.5rem;
}
.board_wrap .badge-category.normal {
  color: #666;
  /* border: 1px solid var(--bd); */
  background: #fff;
  font-weight: 400;
  /* font-size: 1rem; */
}
.board_title {
  margin-bottom: 30px;
}

.board_title strong {
  font-size: 3rem;
}

.board_title p {
  margin-top: 5px;
  font-size: 1.4rem;
}

.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
}

.board_list {
  width: 100%;
  border-top: 2px solid #000;
}

.board_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
  display: flex;
  align-items: center;
  /* height: 10rem; */
  transition: 0.2s;
}
.board_list > div:hover {
  background: rgba(52, 64, 202, 0.2);
}

.board_list > div.top {
  border-bottom: 1px solid #999;
}

.board_list > div:last-child {
  border-bottom: 1px solid #000;
}

.board_list > div > div {
  display: inline-block;
  padding: 30px 10px;
  text-align: center;
  font-size: 2rem;
}

.board_list > div.top > div {
  font-weight: 600;
}

.board_list .num {
  width: 10%;
}

.board_list .title {
  width: 70%;
  text-align: left;
  padding-left: 40px;
}

.board_list .top .title {
  text-align: center;
}

.board_list .writer {
  width: 10%;
}

.board_list .date {
  width: 10%;
  font-size: 1.8rem;
}

.board_list .count {
  width: 10%;
  font-size: 1.8rem;
}

.board_page {
  margin-top: 100px;
  text-align: center;
  font-size: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.page-btn-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.board_page a.bt {
  /* padding-top: 10px; */
  font-size: 1.2rem;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
}

.board_page a.num {
  display: inline-block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 0;
  line-height: 100%;

  flex-shrink: 0;

  padding-top: 9px;
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;

  flex-shrink: 0; /* 크기가 줄어들지 않도록 설정 */
}

.board_page a.num.on {
  /* border-color: #000; */
  background: var(--main-color);
  color: #fff;
  border-radius: 50%;
}

/* .badge-category {
  font-size: 1.3rem;
  height: 2.8rem;
  padding: 0.6rem 1.5rem;
} */

/* .board_page a:first-child {
  border-left: 1px solid #ddd;
} */

/* e 공지사항 860 */

@media (max-width: 700px) {
  /* 예약 m */
  .note {
    font-size: 1.5rem;
  }
  .calendar h2 {
    font-size: 3rem;
  }
  .calendar tr {
    gap: 3px;
  }
  .calendar td {
    /* padding: 1.5rem; */
    padding: 0;
    width: 5rem;
    /* padding: 10px 0; */
    height: 5rem;
    /* width: 8rem;
        height: 8rem; */
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* 예약 m */
}

/* 모바일 */
/* @media (max-width: 400px) { */
@media (max-width: 500px) {
  /* s: facility */
  .sub-visual .sub-title h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .facility-wrap .sec-title {
    font-size: 2.2rem;
  }
  .tab-menu a {
    padding: 1.2rem 0;
    font-size: 1.5rem;
  }

  .tab-content .content h4 {
    font-size: 2.5rem;
  }
  .badge-category {
    font-size: 1.3rem;
    height: 2.8rem;
    padding: 0.6rem 1.5rem;
  }
  .equipment ul li dl dt {
    font-size: 1.8rem;
  }
  .equipment ul li dl dd {
    font-size: 1.5rem;
  }
  .feature ul {
    font-size: 1.8rem;
  }
  .tab-content .pic figure {
    width: 100%;
  }
  /* .tab-content .pic div {
    width: 100%;
  } */

  /* e: facility */
  /* s:tablet 천문대 소개 */
  .meaning h3 {
    font-size: 2.5rem;
  }
  .meaning p {
    width: 31.2rem;
    /* width: 76.6486%; */
  }
  .speciality article .pic {
    width: 100%;
  }
  .speciality h3 {
    font-size: 2rem;
  }
  .speciality article {
    display: block;
  }

  .speciality article .con {
    width: 100%;
    margin-top: 2rem;
  }
  .speciality article .con p {
    margin-top: 1rem;
  }
  .sec-title {
    font-size: 2rem;
  }
  .state figure {
    /* width: 35rem; */
    width: 100%;
    height: 15rem;
  }
  .state figure img {
    height: 100%;
    object-fit: cover;
  }
  .key-info-list {
    justify-content: center;
    margin-top: 6rem;
  }
  .key-info-list li {
    flex: 0 0 100%;
    /* height: 15.4rem; */
    padding: 2rem 5.4rem;
    gap: 0.5rem;
  }
  .key-info-list li dl dt {
    font-size: 2rem;
  }
  .key-info-list li dl dd {
    height: 4.6rem;
  }
  /* e:tablet 천문대 소개 */
  .board_wrap .badge-category.normal {
    color: #000;
    border: 1px solid var(--bd);
  }
  .board_list > div > div {
    text-align: left;
    padding: 6px 0;
  }
  .board_list > div {
    flex-wrap: wrap;
    /* flex: 1 1 auto; */
    padding: 10px;
  }
  .board_list .num {
    width: 80px;

    order: 1;
    flex-basis: 100%;
  }
  .board_list .title {
    width: 70%;
    height: 30px;
    overflow: hidden;
    order: 2;
    font-size: 1.5rem;
    padding-left: 0;
  }
  .board_list .date {
    width: 30%;
    order: 3;
    font-size: 1.3rem;
    text-align: right;
  }
  .board_list .count {
    display: none;
  }
  /* 예약 m */
  .calendar h2 {
    font-size: 3rem;
  }
  .calendar td {
    /* padding: 1.5rem; */
    padding: 0;
    width: 5rem;
    /* padding: 10px 0; */
    height: 5rem;
    /* width: 8rem;
      height: 8rem; */
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reservation .cal-state {
    gap: 2rem;
  }
  /* 예약 m */
}

@media (max-width: 400px) {
  /* 예약 m */
  .calendar td {
    /* padding: 1.5rem; */
    padding: 0;
    width: 4rem;
    /* padding: 10px 0; */
    height: 4rem;
    /* width: 8rem;
        height: 8rem; */
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-prev {
    left: -30px;
  }

  .btn-next {
    right: -30px;
  }
  /* 예약 m */
}

@media (max-width: 390px) {
  /* s: facility */
  .tab-menu a {
    font-size: 1.5rem;
  }
  /* e: facility */
}
